<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="halif.expenseorganiser">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:required="true" android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="halif.expenseorganiser.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                       android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name="halif.expenseorganiser.BudgetActivity"
            android:label="@string/budgetsTitle"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="halif.expenseorganiser.BudgetViewActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="halif.expenseorganiser.TransactionActivity"
            android:label="@string/transactionsTitle"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="halif.expenseorganiser.TransactionViewActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            android:exported="true"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="halif.expenseorganiser.ImportExportActivity"
            android:label="@string/importExportTitle"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="halif.expenseorganiser.ReceiptViewActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="halif.expenseorganiser.SettingsActivity"
            android:label="@string/settings"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="halif.expenseorganiser.intro.IntroActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="halif.expenseorganiser.ShortcutConfigure"
            android:label="@string/addShortcutsTitle"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <receiver
            android:name="halif.expenseorganiser.TransactionExpenseWidget"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider"/>
        </receiver>
        <receiver
            android:name="halif.expenseorganiser.SmsListener"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="100">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false"
            android:authorities="${applicationId}">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>
    </application>

</manifest>
